
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
    background-color:#FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.text-center{
    text-align: center;
}
/* button design */
.btn-primary{
    background-color:#FD6E0A ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn-group{
    display: flex;
    gap: 16px;
}
.btn-outline{
    background-color: transparent;
    border-color: #FD6E0A;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 18px 35px;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* Header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greeting{
    font-size:45px ;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-picture{
    width: 584px;
}
.banner-content{
    max-width: 580px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#474747 ;
}
.section-description{
    font-size:18px ;
    font-weight: ;
    color: #757575;

}
/* About styles */
.about{
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
    margin-top: 130px;
}

/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section style */
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
    
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
    
}